{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
	<!-- https://tailwindcomponents.com/component/login-2 -->
	<div class="font-sans min-h-screen antialiased pt-24 pb-5 w-full">
		<div class="flex flex-col justify-center sm:w-96 sm:m-auto mx-5 mb-5 space-y-8">
			<h1 class="font-bold text-center text-4xl text-yellow-500">Today I...</h1>
			<form class="login" method="POST" action="{% url 'account_login' %}">
				{% csrf_token %}
				<div class="flex flex-col bg-white p-10 rounded-lg shadow space-y-6">
					<h1 class="font-bold text-xl text-center">Sign in to your account</h1>
					<div class="flex flex-col space-y-1">
						<input type="email" name="login" id="username" class="border-2 rounded px-3 py-2 w-full focus:outline-none focus:border-blue-400 focus:shadow" placeholder="Email Address" />
					</div>

					<div class="flex flex-col space-y-1">
						<input type="password" name="password" id="password" class="border-2 rounded px-3 py-2 w-full focus:outline-none focus:border-blue-400 focus:shadow" placeholder="Password" />
					</div>

					<div class="relative">
						<input type="checkbox" name="remember" id="remember" checked class="inline-block align-middle" />
						<label class="inline-block align-middle" for="remember">Remember me</label>
					</div>

					<div class="flex flex-col-reverse sm:flex-row sm:justify-between items-center">
						<a href="{% url 'account_reset_password' %}" class="secondaryAction inline-block text-blue-500 hover:text-blue-800 hover:underline">Forgot your password?</a>
						<button type="submit" class="primaryAction bg-blue-500 text-white font-bold px-5 py-2 rounded focus:outline-none shadow hover:bg-blue-700 transition-colors">{% trans "Sign In" %}</button>
					</div>
				</div>
				{% if redirect_field_value %}
					<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
				{% endif %}
			</form>
			<p>Don't have an account? <a href="{{ signup_url }}">Sign Up!</a></p>
			<div class="flex justify-center text-gray-500 text-sm">
				<p>&copy;2021. All right reserved.</p>
			</div>
		</div>
	</div>
{% endblock %}